*{
  margin: 0;
  padding: 0;
}

:root{
  --pink: #FF70A6;
  --orange: #FF9770;
  --light-orange: #FFD670;
  --lime-green: #E9FF70;
  --gray: #F2F2F2;
  --black: #403D39;
}

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--gray);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

nav{
    background-image: linear-gradient(to top, var(--pink), var(--orange));
  height: 100vh;
  width: 100px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

h1{
  color: var(--orange);
}

input{
  width: 90%;
  font-size: 26px;
}

.nav-top{
  height: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.nav-bottom{
  height:50%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding-bottom: 30px;
}

button{
  border-radius: 1px;
  border: none;
  background-color: var(--black);
  color: var(--gray);
  padding: 10px 20px;
}

button:hover{
  box-shadow: 10px 0 20px 0 rgba(0,0,0,.23), 5px 0 5px rgba(0,0,0,.25);
}

.login-page{
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right, var(--pink), var(--orange), var(--light-orange), var(--lime-green));
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container{
  padding: 20px;
  width: 35vw;
  height: 55vh;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, .25), 0 10px 10px 0 rgba(0, 0, 0, .26);
}

.big-post{
  background-color: white;
  width: 70%;
  min-height: 400px;
  display: flex;
  padding: 20px;
  margin-top: 20px;
  border-radius: 1px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, .25), 0 10px 10px 0 rgba(0, 0, 0, .26);
}

.big-post-left{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
}

.big-post-right{
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.profile-info{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 30%;
}

.content-box{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

.input-field{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

#helo{
  color: white;
  font-size: 50px;
}

.profile-pic{
  background-color: var(--gray);
  border-radius: 50%;
  background-position: 50%;
  background-size: cover;
  height: 80px;
  width: 80px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, .25), 0 10px 10px 0 rgba(0, 0, 0, .26)
}

.nav-icons{
  height: 60px;
  width: 60px;
}

.dashboard{
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.search-field{
  width: 70%;
  padding: 20px;
  display: flex;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, .25), 0 10px 10px 0 rgba(0, 0, 0, .26);
  /* justify-content: space-around; */
}

.search-input{
  width: 80%;
}

.my-posts{
  align-self: flex-end;
}

.post-container{
  width: 70%;
}

.post{
  width: 98%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, .25), 0 10px 10px 0 rgba(0, 0, 0, .26);
  margin: 10px;
}

.post:hover{
  width: 100%;
}

.post-right-side{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-logo{
  background-color: var(--orange);
}

.form{
  background-color: white;
  width: 60%;
  min-height: 200px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 1px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, .25), 0 10px 10px 0 rgba(0, 0, 0, .26);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.content-area{
  min-width: 90%;
  max-width: 90%;
  min-height: 100px;
  margin: 10px;
}

.submit-button-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}